html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: #e2c7b2;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

h1, h2, .control-label {
    font-weight: 700;
    color: #3a2e25;
    text-align: center;
}


.sidebar {
    height: 95vh;
    background-color: #d6b49c;
    position: fixed;
    top: 2.5vh;
    left: 10px;
    z-index: 100;
    border-radius: 15px;
}

.main-content {
    margin-left: 16.666667%;
    background: #e2c7b2;
    padding-top: 2rem;
}

.nav-link-custom {
    color: #6d5f4b;
    text-decoration: none;
    display: block;
    padding: 12px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: 0.3s;
    font-weight: bold;
}

.nav-link-custom:hover {
    background: rgba(250, 244, 238, 0.8);
    color: #8d7b63;
}

.nav-link-custom.active {
    background: rgba(250, 244, 238, 0.8);
    color: #8d7b63;
}

.nav-link-custom:active {
    background: rgba(250, 244, 238, 0.8);
    color: #8d7b63;
}

.navbar-brand-custom {
    font-size: 2.5rem;
    font-weight: bold;
    color: #3a2e25 !important;
    text-decoration: none;
    letter-spacing: 1px;
    display: block;
    text-align: center;
    margin-bottom: 2rem;
}

.btn-primary {
    background: #f8e2cf;
    border: 1px solid #e2a47a;
    padding: 3px 10px;
    border-radius: 8px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    cursor: pointer;
    color: #e2a47a;
    font-size: 12px;
}

.btn-primary:hover {
    background: #f5a03f;
    color: #f9f2ed;
    border: none;
}

.btn-premium {
    background-color: #ffa726;
    border: none;
    border-radius: 12px;
    padding: 10px 18px;
    font-weight: 600;
    box-shadow: 0 4px 10px rgba(255, 167, 38, 0.35);
    transition: all 0.25s ease;
    color: #f9f2ed;
}

.btn-premium:hover {
    background-color: #fbbc00;
    transform: translateY(-2px);
    box-shadow: 0 8px 18px rgba(255, 140, 0, 0.45);
}

.btn-premium:active {
    transform: translateY(0);
}

.table-container-glass {
    background: #f1e8e8;
    backdrop-filter: blur(12px);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 8px 32px 0 rgba(249, 242, 237, 0.35);
    margin-top: 20px;
}

.table-custom {
    color: #e0e0e0 !important;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.table-custom thead th {
    background: transparent;
    color: #8d7b63;
    border: none;
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 1px;
    padding-bottom: 15px;
    font-size: 20px;
}

.table-body tr td {
    background: transparent;
    transition: all 0.3s ease;
    color: #8d7b63;
}

.table-body tr:hover {
    background: rgba(249, 242, 237, 0.7);
}

.table-custom td {
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.table-body th:not(:last-child) {
    border-bottom: 1px solid rgba(120, 90, 60, 0.15);
}

.table-striped-soft tr:nth-child(odd) {
    background-color: rgba(250, 244, 238, 0.55);
}

.table-striped-soft tr:nth-child(even) {
    background-color: rgba(249, 242, 237, 0.35); 
}

.table-striped-soft tr:hover {
    background-color: rgba(230, 200, 170, 0.35);
    transition: background-color 0.3s ease;
}

/*Pagina de inicio*/
.row-container {
    display: flex;
    justify-content: center;
}
.text-brown {
    color: #3a2e25 !important;
}

.letter-spacing {
    letter-spacing: 2px;
    font-size: 0.8rem;
}

/* Estilo de la Tarjeta */
.card-stat {
    background: rgba(255, 255, 255, 0.03);
    border-radius: 24px;
    backdrop-filter: blur(10px);
    transition: all 0.3s ease-in-out;
}

.card-stat:hover {
    transform: translateY(-10px);
    background: rgba(255, 255, 255, 0.05);
    border-color: rgba(0, 242, 254, 0.3);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

/* El Icono Grande */
.icon-shape {
    opacity: 0.2;
    color: #3a2e25;
    transition: 0.3s;
}

.card-stat:hover .icon-shape {
    opacity: 1;
    transform: scale(1.1) rotate(-5deg);
}

.shadow-brown i {
    color: #3a2e25;
}

.hover-link {
    font-weight: 600;
    font-size: 0.9rem;
    transition: 0.3s;
}

.hover-link:hover {
    padding-left: 10px;
    filter: brightness(1.2);
}