@model IEnumerable<prueba_tecnica_cristian_varon_biblioteca.Models.Autor>

@{
    ViewData["Title"] = "Autores";
}
<div class="mt-4 mb-4">
    <h1>Autores</h1>
</div>

<div class="d-flex justify-content-end">
        <a class="btn-premium text-decoration-none" asp-action="Create">Agregar Nuevo Autor</a>
</div>

<div class="table-container-glass">
    <table class="table table-custom">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th class="text-end">Acciones</th>
            </tr>
        </thead>
        <tbody class="table-body table-striped-soft">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td class="text-end">
                        <a asp-action="Edit" asp-route-id="@item.AutorId" class="btn btn-primary"> Editar</a>

                        <a asp-action="Delete" asp-route-id="@item.AutorId" class="btn btn-primary">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

